@model OdeToFood.Entities.Restaurant

<div>
    <h1>Create</h1>

    <div>

        @* Html form helper. Opens and closes form *@
        @using (Html.BeginForm())
        {
            <div>
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name)
            </div>
            <div>
                @Html.LabelFor(m => m.Cuisine)
            </div>
        }

    </div>

</div>