@model OdeToFood.ViewModels.HomePageViewModel

@{ 

}

<h1>Welcome!</h1>
<h3>@Model.CurrentMessage</h3>

<table>
    @foreach (var restaurant in Model.Restaurants)
    {
        <tr>
            <td>
                <a href="/home/details/@restaurant.Id">Details</a>
                @Html.ActionLink("View", "Details", new { id = restaurant.Id })
            </td>
            <td>@restaurant.Name</td>
        </tr>
    }
</table>