@if (User.Identity.IsAuthenticated)
{
    <span>Hello, @User.Identity.Name</span>
    <form method="post" asp-controller="Account" asp-antiforgery="true">
        <input type="submit" value="Logout" />
    </form>
}
else
{
    <span>anonymous</span>
}
